<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <form id="add-form" th:action="@{/add}" th:method="post">

        <h1>Book Info:</h1>

        <div class="row">
            <label for="name">Name</label>
            <input id="name" type="text" name="fullName" th:value="${fullName}" placeholder="Name">
        </div>

        <div class="row">
            <label for="authors">Authors</label>
            <input id="authors" type="text" name="authors" th:value="${authors}" placeholder="Authors">
        </div>

        <div class="row">
            <label for="genre">Genre</label>
            <input id="genre" type="text" name="genre" th:value="${genre}" placeholder="Genre">
        </div>

        <div class="row">
            <label for="description">Description</label>
            <input id="description" type="text" name="description" th:value="${description}" placeholder="Description">
        </div>

        <div class="row">
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
